<p>
  <button (click)="wyswietlProdukty = !wyswietlProdukty">
    {{wyswietlProdukty ? 'Ukryj produkty' : 'Pokaż produkty'}}
  </button>
</p>

<app-koszyk [koszyk]="koszyk"></app-koszyk>
<button (click)="wyczyscKoszyk()">Wyczyść koszyk ❌</button>

<p *ngIf="wyswietlProdukty">
  <app-product (dodajDoKoszyka)="onDodajDoKoszyka(products[0])" [product]="products[0]"></app-product>
  <app-product (dodajDoKoszyka)="onDodajDoKoszyka(products[1])" [product]="products[1]"></app-product>
  <app-product (dodajDoKoszyka)="onDodajDoKoszyka(products[2])" [product]="products[2]"></app-product>
  <app-product (dodajDoKoszyka)="onDodajDoKoszyka(products[3])" [product]="products[3]"></app-product>
  <app-product (dodajDoKoszyka)="onDodajDoKoszyka(products[4])" [product]="products[4]"></app-product>
</p>
<router-outlet></router-outlet>